@charset "utf-8";

header {
	display: flex;
  	gap: 20px; 
	background-color: lightgray;
	width: 100%;
	height: 90px;
	position: relative;
	top: 0;
}
#logo img{
	margin: 5px;
	width: 80px;
	height: 80px;
}
#box{
	text-align:center;
	position: relative;
}

.link {
	font-size: large;
	 position: relative;
}

.pic {
	width: 350px;
	height: 300px;
}
